.main {
    display: flex;
    flex: 1;
    color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6px;
}
.handImage {
    width: 30px;
}
.gridIcon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridTitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.gridInfo p {
    font-size: 13px;
    margin-top: 14px;
}
.yourImc {
    font-size: 17px;
    margin: 12px 0 30px 0;
}

@media (max-width: 800px) {
    .main {
        padding: 20px;
    }
    .handImage {
        width: 25px;
    }
    .gridIcon {
        width: 60px;
        height: 60px;
    }
    .gridTitle {
        font-size: 18px;
    }
    .gridInfo p {
        font-size: 12px;
        margin-top: 14px;
    }
    .yourImc {
        font-size: 16px;
    }
}